In [17]:
import pandas as pd
import pickle

In [3]:
df = pd.read_csv('../data/train.csv')
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [4]:
df.shape

(404290, 6)

In [8]:
all_questions = set(pd.unique(df['qid1'])) | set(pd.unique(df['qid2']))
print('问题总数：{}个'.format(len(all_questions)))

问题总数：537933个

In [18]:
#问题编码字典
q_dict = dict()
for line in df.itertuples():
    if line[2] not in q_dict:
        q_dict[line[2]] = line[4]
    if line[3] not in q_dict:
        q_dict[line[3]] = line[5]
len(q_dict)
with open('q_dict.pkl','wb') as f:
    pickle.dump(q_dict,f)

In [16]:
q_similar_dict = dict()
index, count = 0, 0#统计最大的重复问题的字典索引和个数
for line in df.itertuples():
    if line[6] == 1:
        flag = 0
        for k,v in q_similar_dict.items():
            if line[2] in v or line[3] in v:
                v.add(line[2])
                v.add(line[3])
                if len(v)>count:
                    count = len(v)
                    index = k
                flag = 1
                break
        if flag == 0:
            q_similar_dict[len(q_similar_dict)] = set()
            q_similar_dict[len(q_similar_dict)-1].add(line[2])
            q_similar_dict[len(q_similar_dict)-1].add(line[3])
                
print('一共有{}组重复的问题'.format(len(q_similar_dict)))
print(q_similar_dict[index])

一共有64026组重复的问题
{11264, 39426, 3595, 41484, 3596, 57359, 162836, 43544, 7707, 7708, 17456, 14926, 14927, 10321, 10322, 5715, 43605, 65109, 10329, 10330, 35931, 35932, 134237, 82022, 11373, 86522, 114804, 81027, 75917, 33427, 2711, 2712, 121509, 121510, 85165, 29357, 15547, 41669, 111301, 17100, 241356, 53467, 55530, 204524, 204525, 5358, 5359, 17135, 23803, 88319, 19200, 19199, 115459, 227601, 7445, 7446, 55061, 80153, 44317, 44318, 37175, 10562, 10563, 254281, 99661, 68431, 30554, 11263, 14695, 7016, 60263, 66410, 14696, 118125, 53632, 450453, 138134, 24473, 4506, 4507, 74655, 74656, 310176, 72620, 80301, 167858, 123836, 259519, 105925, 27082, 69079, 16346, 31712, 28132, 28133, 305640, 8685, 59385, 145914, 407036, 2559}

In [19]:
with open('q_similar_dict.pkl','wb') as f:
    pickle.dump(q_similar_dict,f)

In [20]:
q_similar_dict[11264]

{74147, 74148}